@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');
 html {
	 background: #3a4764;
	 color: #fff;
	 font-family: Spartan;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .head {
	 display: flex;
	 align-items: center;
	 justify-content: space-around;
	 flex-direction: row;
	 width: 500px;
	 text-align: center;
}
 #title {
	 flex-grow: 3;
	 text-align: left;
	 font-size: 20px;
	 margin-top: 40px;
	 font-weight: 600;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 50%;
    border-radius: 50%;
  }

 #theme {
	 font-size: 10px;
	 flex-grow: 0.5;
	 margin-top: 35px;
	 margin-left: 200px;
}
 .theme_selector {
	 cursor: pointer;
	 display: flex;
	 flex-direction: column;
	 align-items: space-around;
	 justify-content: space-around;
}
 #choice {
	 letter-spacing: 5px;
	 font-size: 10px;
}
 #choice_selector {
	 height: 16px;
	 width: 55px;
	 border-radius: 10px;
	 background: #1d0934;
	 margin-top: -10px;
	 display: flex;
	 margin-left: -6px;
	 align-items: center;
}
 #ball_selector {
	 height: 10px;
	 width: 10px;
	 border-radius: 5px;
	 background: #d03f2f;
	 margin: 0 0 0 4px;
}
 .input_field {
	 width: 500px;
	 height: 100px;
	 display: flex;
	 align-items: center;
	 justify-content: flex-end;
	 border-radius: 10px;
	 background: #1d0934;
}
 #input {
	 font-size: 35px;
	 padding-right: 30px;
	 padding-top: 3px;
	 font-weight: 600;
	 overflow: hidden;
	 white-space: no-wrap;
}
 .keypad {
	 margin-top: 40px;
	 height: 425px;
	 width: 500px;
	 background: #232c43;
	 border-radius: 10px;
}
 .keys {
	 width: 460px;
	 height: 460px;
	 margin: auto;
	 padding-top: 20px;
	 display: grid;
	 grid-template-columns: repeat(4, 100px);
	 grid-template-rows: repeat(4, 60px);
	 text-align: center;
	 gap: 20px;
	 justify-items: center;
}
 .key {
	 background: #fff;
	 color: #232c43;
	 border-radius: 10px;
	 height: 38px;
	 width: 100px;
	 padding-top: 17px;
	 border-bottom: solid 5px #999;
	 font-weight: 600;
	 font-size: 25px;
}
 .key:hover {
	 cursor: pointer;
}
 .key:active {
	 background: #d9d9d9;
	 border-bottom: solid 4px #999;
	 margin-top: 2px;
}
 #del {
	 background: #637097;
	 border-bottom: solid 6px #354264;
	 color: #fff;
	 font-size: 22px;
}
 #del:active {
	 background: #515b7b;
}
 .bottom_keypad {
	 background: #fff;
	 color: #232c43;
	 border-radius: 10px;
	 height: 38px;
	 width: 220px;
	 padding-top: 17px;
	 border-bottom: solid 5px #999;
	 font-weight: 600;
	 font-size: 25px;
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
}
 #reset {
	 margin-left: 120px;
	 background: #637097;
	 border-bottom: solid 6px #354264;
	 color: #fff;
	 font-size: 22px;
}
 #reset:hover {
	 cursor: pointer;
}
 #reset:active {
	 background: #515b7b;
	 margin-top: 2px;
	 border-bottom: solid 5px #354264;
}
 #equal {
	 margin-left: 360px;
	 color: #fff;
	 background: green;
	 border-bottom: solid 5px #006400;
}
 #equal:hover {
	 cursor: pointer;
}
 #equal:active {
	 background: #006400;
	 margin-top: 2px;
	 border-bottom: solid 4px #006400;
}
 